* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  background-color: black;
  color: white;
}
h2{
  text-align: center;
  font-style: bold;
}


ul{
  color:gold;
  font-size: 18px;
  font-style: roboto;
  text-align: center;
}